/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset */
p {
  padding: 10px;
  color: #00FF00;
  font-weight: 500;
  }
body{
  font-family: Courier, monospace;
  font-size: 1em; /*  16px */
  line-height: 1.3125em; /* 21px ctx 16px */
  padding-top: 1.3125em; /* 21px ctx 16px */
  padding-left: 1em;
  padding-right: 1em;
  text-size-adjust: 100%;
  background-color: black;
  }
h1 {
  color: #FFFFFF;
  font-family: Courier, monospace;
  font-size: 1.875em; /* 30px ctx 16px */
  line-height: 1.3667em;
  padding-top: 0.7em; /* 21px ctx 30px */
  padding-left: 0.4667em; /* 14px ctx 30px */
  padding-right: 0.4667em; /* 14px ctx 30px */
  padding-bottom: 3.333em; /* 100px ctx 30px */
  text-align: center;
  text-decoration: underline;
  }
